body{
	background-color:lightyellow;
	color: blue;
	font-family: Arial sans-serif;
	text-align: center;
}
a{
	color: blue;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: none;
}
h1{
	margin-bottom: 0.5rem;
	margin-top: 3rem;
	color: lightseagreen;
}
footer{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
h2{
	color: deepskyblue;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}
hr{
	margin-top: 3rem;
	margin-bottom: 3rem;
}